body {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
    border: 1px solid red;
}


nav {
        background-color: #eee;
        width: 100vw;
        height: 15vh;
        display: flex;
        /* flex-flow: row nowrap; */
        /* justify-content: space-between; */
        /* text-align: center; */
        border: 1px solid yellowgreen;
}


nav ul {
    font-size: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    /* height: auto;  */
    border: 1px solid blueviolet;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem 1rem;
    display: flex;
    /* flex-direction: row wrap; */
    border: 1px solid pink;
}
nav li:first-child {
    margin-right: auto;
    margin-left: 92px;
/* border: 2px solid black; */
}
nav li:last-child {
    margin-right: 92px;
}

.logo {
    /* max-width: 100%;
    height: auto; */
    /* margin-right: 25rem; */
    /* align-items: ; */
    border: 1px solid  brown;
}