:root {
    --off-black: #333333;
    --primary: #F5F5DC;
    --chewy: 'Chewy', cursive;
    --off-white: #FFFFFF;
    --btn-purple: #B19CD9;
    --off-gray: #D3D3D3;
  }

body {
    display: flex;
    /* min-height: 100vh; */
    flex-flow: column wrap;
    box-sizing: border-box; 
    /* border: 1px solid red; */
    align-content: flex-start;
    

}

header {
    /* width: 100vw; */
    /* border: 1px solid rebeccapurple; */
    flex: 1;
    background-color: var(--primary);
}


nav ul {
    font-size: 1rem;
    display: flex;
    flex-flow: row wrap; 
    justify-content: flex-end; 
    align-items: center;
    width: 100%;
    /* background-color: var(--primary); */
    /* border: 1px solid blueviolet; */
}

nav li  {

    font-family: 'Chewy', cursive;
    /* border: 1px solid pink; */
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    
}

nav li a {
    text-decoration: none;
    font-weight: 600;
    color: var(--off-black);
    
    
}

nav ul li:first-child {
    /* display: flex; */
    /* justify-content: flex-start; */
    flex: 1;
    margin-left: 5.75rem;

}
nav ul li:last-child {
    margin-right: 5.75rem;
}




.footer-logo {
    width: 7rem; 
    height: 7rem;
    /* flex-shrink: 1; */
}
.footer-icon {
    height: 1.5rem;
}

.footer-section {
    /* width: 100vw; */
    flex: 1;
    /* position: sticky; */
    /* height: 100vh; */
    /* flex: 1 1 0; */
    padding-bottom: 4rem;
    padding-top: 4rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid goldenrod; */
    background-color: var(--primary);
    text-decoration: none;
}

.icon-link {
    text-decoration: none;
}

.icon-text {
    font-size: 1.5625rem;
}

.logo {
    width: 5rem;
    /* border: 1px solid  brown; */
}

.hero-section {
    background-color: var(--off-black);
    display: flex;
    align-items: center;
    /* border: 5px solid blue; */
}

.image {
    flex: 1;
    margin: 1rem; /* adjust this as needed */
  }

.img {
    width: 100%;
    height: auto;
  }

.hero-header {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-family: var(--chewy);
}
.hero-text {
    font-size: 1rem;
    line-height: 195%;
    padding-bottom: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero-text-container {
    flex: 2;
    text-align: center;
    padding: 1rem;
    color: var(--off-white);
}

.menu-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    /* border: 2px solid brown; */
    margin: 2rem 5.75rem;
}

.menu-title-container {
 
    text-align: center;
    font-family: var(--chewy);
    color: var(--off-black);
    font-size: 3rem;
    
   
}

.menu-card {
    /* border: 1px solid purple; */
    background-color: var(--off-gray);
    border-radius: 10px;
    flex: 1;

    flex-basis: 25.33%;
    margin: 1rem;
    /* add to media query for smaller screens */
    display: flex; 
    flex-flow: column wrap;
    /* align-content: stretch; */
    /* align-items: flex-end; */
    /* justify-content: stretch; */
}
.menu-card-container {
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    /* border: 1px dotted rosybrown; */
}
.menu-btn {
    font-size: 2rem;
    padding: 0rem 3rem;
    background: none;
    border: 2px solid var(--btn-purple);
    border-radius: 10px;
}
.menu-card-img {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.menu-card-title {
    background-color: var(--primary);
    border-radius: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-bottom: 0.5rem;
    border: 5px solid var(--off-gray);
}
.menu-card-text {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--chewy);
    
}
.menu-card-desc {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    line-height: 195%;
    flex: 2;
    display: flex;
    flex-flow: column;
 
}
.menu-card-desc p {
    /* border: 1px solid seagreen; */
    flex: 1;
    overflow: scroll;
    text-align: center;
}

.material-icons.md-196 {
    font-size: 2rem;
    align-self: flex-end;
    /* border: 1px solid seagreen; */
}
  
  


@media (max-width: 760px) {
    /* nav ul li {
        flex: 1;
        margin-left: 0;
    } */

    nav ul li:last-child {
        margin-right: 0;
    }
    nav ul li:first-child {
        margin-left: 0;
    }
    .desc {
        margin-right: 0;
        margin-left: 0;
    }

    nav li {
        margin-left: 0;
    }
    .hero-section {
        flex-flow: column-reverse;
    }

    .menu-section {

        margin: 2rem 0;
    }
    .material-icons.md-196 {
        font-size: 3rem;
    }
    
}

/* @media (max-width: 576px) { 
    .hero-section {
        flex-flow: column-reverse;
    }
    .image {

        flex: 2;
    }
 } */

/* @media (min-width: 1440px) { 
.hero {
    background-position: right 1rem bottom;
}
} */